/* Access-Control-Allow-Origin: 'http://www.fontsaddict.com/fontface/magic-school-two.ttf' */

@font-face {
    font-family: 'Magic School Two';
    src: url('../assets/MagicSchoolTwo.ttf');
  }


body {
    margin: 0;
}

.main {
    background-image: url('../img/263156.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'IM Fell English SC', serif;
}

.container {
    background-color: white;
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main-title, .my-house-result {
    font-family: 'Magic School Two';
}

.main-title {
    color: white;
    font-size: 70px;
    font-weight: 400;
    display: block;
}

p {
    font-size: 20px;
}

.sorting-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-family: 'IM Fell English SC', serif;
    font-size: 24px;
}

.my-house-container {
    margin-top: 20px;
}

.my-house-result {
    font-size: 60px;
    margin: 0;
}

.gryffindor {
    background-color:rgb(201, 43, 32);
}

.slytherin {
    background-color: rgb(25, 146, 89);
}

.hufflepuff {
    background-color:gold;
}

.ravenclaw {
    background-color:rgb(43, 92, 228);
}

.default {
    background-color: white;
}