/* Access-Control-Allow-Origin: 'http://www.fontsaddict.com/fontface/magic-school-two.ttf' */

@font-face {
    font-family: 'Magic School Two';
    src: url('../assets/MagicSchoolTwo.ttf');
  }

body {
    margin: 0;
    font-family: 'Magic School Two';
}

.main {
    background-image: url('../img/263156.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}